body {
    background-color: white;
}

header {
    background-color: whitesmoke;
}

.login-signup {
    border: 3px dashed pink;
    display: flex;
    flex-wrap: wrap ;
}

.input-extra {
    width: 150px;
}

footer {
    background-color: lightblue;
    margin-bottom: 0px;
}
