{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кунтик "Кастом"</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom-kuntic.css' %}">
</head>
<body>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/catalog" class="nav-link active" aria-current="page">Каталог</a></li>
        <li class="nav-item"><a href="/orders" class="nav-link">Заказы: 0</a></li>
        <div class="login-signup">
          <li class="nav-item"><a href="#" class="nav-link">Вход</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Регистрация</a></li>
        </div>
      </ul>
    </header>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://shishacommunity.s3.amazonaws.com/uploads/crystallium-lounge-barcelona-chicha-shisha-hookah-cachimba-kalyan-narguile.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <form action="GET" class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Кунтик "Кастом"</h1>
            <p class="lead">Создайте свой собственный кунтик</p>
            <div class="mb-3">
                <label for="exampleSelect" class="form-label">Цвет</label>
                <select class="form-select" id="exampleSelect">
                  <option selected="">Выберите цвет кунтика</option>
                  {% for element in color %}
                  <option value="{{element.colorName}}">{{element.colorName}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleSelect" class="form-label">Материал</label>
                <select class="form-select" id="exampleSelect">
                  <option selected="">Выберите материал кунтика</option>
                  {% for element in material %}
                  <option value="{{element.materialName}}">{{element.materialName}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleSelect" class="form-label">Размер</label>
                <select class="form-select" id="exampleSelect">
                  <option selected="">Выберите размер кунтика</option>
                  {% for element in size %}
                  <option value="{{element.sizeName}}">{{element.sizeName}}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="mb-3 input-group">
                <span class="input-extra input-group-text">Дополнительные <br> свойства</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Заказать</button>
            </div>
          </form>
        </div>
      </div>

    <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Каталог</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Корзина</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Kuntics Custom Shop</p>
    </footer>
</body>
</html>